.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-top: 2.5rem;
  padding: 0 3rem;
  margin-left: -2rem; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 2rem; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: white;
  margin-bottom: 2rem;
}

img {
  width: 100%;
  display: block;
}

.loader {
  text-align: center;
  font-size: 4rem;
  margin-top: 35vh;
}

@-webkit-keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0) translate(-50%, -50%);
  }
  50% {
    opacity: 1;
    -webkit-transform: none;
    transform: translate(-50%, -50%);
  }
}

@keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0) translate(-50%, -50%);
  }
  50% {
    opacity: 1;
    -webkit-transform: none;
    transform: translate(-50%, -50%);
  }
}

.spinner-grow {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner-grow 0.75s linear infinite;
  animation: spinner-grow 0.75s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.hero {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./img/bg.jpg);
  background-size: cover;
  background-position: center;
}

.center {
  width: 35%;
}

.hero-text {
  font-size: 3.5rem;
  color: white;
}

.not-found {
  padding: 3rem;
  height: 55vh;
  width: auto;
}

@media only screen and (max-width: 80rem) {
  .my-masonry-grid {
    margin-top: 1.25rem;
    padding: 0 1.25rem;
    margin-left: -1rem;
  }

  .my-masonry-grid_column {
    padding-left: -1rem;
  }

  .center {
    width: 65%;
  }
}

@media only screen and (max-width: 60rem) {
  .my-masonry-grid {
    margin-top: 1rem;
    padding: 0 1rem;
    margin-left: -0.75rem;
  }

  .my-masonry-grid_column {
    padding-left: -0.75rem;
  }

  .center {
    width: 80%;
  }

  .hero-text {
    font-size: 2.5rem;
  }

  input {
    font-size: 1.4rem;
    padding: 0.8rem 1.6rem;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }

  .not-found {
    width: 100vw;
    height: auto;
  }
}
